// Edit this file, as it is a specific handler function for your service
package pages

import (
	"github.com/nicksnyder/go-i18n/v2/i18n"
)

// comment the stylesheets you don't need'
templ Index(lzr *i18n.Localizer, title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="robots" content="noindex,nofollow" />
            <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
			<title>{ title }</title>
			<link rel="stylesheet" href="css/pico.min.css"/>
			<link rel="stylesheet" href="css/simple.min.css"/>
			<link rel="stylesheet" href="/css/bootstrap.min.css"/>
			<link rel="stylesheet" href="/css/bootstrap-icons.min.css"/>
			<script src="/js/bootstrap.bundle.min.js"></script>
			<script src="/js/htmx.min.js"></script>
			<script src="/js/hyperscript.js"></script>
			<script src="js/sse.js"></script>
		</head>
		<body>
			@Content(lzr)
		</body>
	</html>
}
