// Edit this file, as it is a specific handler function for your service
package rest

import (
    "{{ lcfirst ( camelcase .ModuleName ) }}/core/tracing"
    "{{ lcfirst ( camelcase .ModuleName ) }}/core/log"
    "{{ lcfirst ( camelcase .ModuleName ) }}/entities"
    "{{ lcfirst ( camelcase .ModuleName ) }}/usecases"
    "{{ lcfirst ( camelcase .ModuleName ) }}/rest/middleware"
    "{{ lcfirst ( camelcase .ModuleName ) }}/web/pages"

    "encoding/json"
    "encoding/xml"
    "io"
	"net/http"
    "strconv"

	"github.com/labstack/echo/v5"
	"go.opentelemetry.io/otel/trace"
	"gopkg.in/yaml.v2"
)

// {{ .Summary }}
func {{ .OperationID }}(c *echo.Context) error {
	// trace span
	ctx := (*c).Request().Context()
	ctx, span := tracing.Tracer.Start(ctx, "logMessage")
	defer span.End()

	traceId := span.SpanContext().TraceID().String()
	spanId := span.SpanContext().SpanID().String()
	log.Info().Str("traceId", traceId).Str("spanId", spanId).Str("path", (*c).Request().URL.Path).Msg("{{ .OperationID }}")

    /* Remove this comment to use session
	session, err := getSession(c)
	if err != nil {
		log.Error().Err(err).Msg("{{ .OperationID }} failed")
	 	return (*c).NoContent(http.StatusInternalServerError)
	}
	 */

	/* Remove this comment to use localization
	lzr := i18n.NewLocalizer(core.Bundle, core.Language(c))
	*/

    {{- if eq .Method "POST" "PUT" "PATCH" }}

        {{ if eq .Schema "" }}
            // No body specified for this endpoint
        {{ else if eq .Schema "." }}
            // Parse body manually as any type (bind does not support type any)
            var bodyContent any
           	contentType := (*c).Request().Header.Get("Content-Type")
           	body, err := io.ReadAll((*c).Request().Body)
           	if err != nil {
          		log.Error().Err(err).Str("traceId", traceId).Str("spanId", spanId).Msg("Can't read body")
          		return (*c).String(http.StatusBadRequest, "Can't read body")
           	}
            mediaType := strings.TrimSpace(strings.Split(contentType, ";")[0])
           	log.Debug().Str("body", string(body)).Str("ContentType", contentType).Msg("Received request for getTemplateWithBody")

           	switch mediaType {
           	case "application/json":
          		err := json.Unmarshal(body, &bodyContent)
          		if err != nil {
         			log.Error().Err(err).Str("traceId", traceId).Str("spanId", spanId).Msg("Could not unmarshall JSON input")
         			return (*c).String(http.StatusBadRequest, "Could not unmarshall JSON input")
          		}
           	case "application/yaml":
          		err := yaml.Unmarshal(body, &bodyContent)
          		if err != nil {
         			log.Error().Err(err).Str("traceId", traceId).Str("spanId", spanId).Msg("Could not unmarshall YAML input")
         			return (*c).String(http.StatusBadRequest, "Could not unmarshall YAML input")
          		}
           	case "application/xml":
          		err := xml.Unmarshal(body, &bodyContent)
          		if err != nil {
         			log.Error().Err(err).Str("traceId", traceId).Str("spanId", spanId).Msg("Could not unmarshall XML input")
         			return (*c).String(http.StatusBadRequest, "Could not unmarshall XML input")
          		}
           	default:
          		log.Error().Str("content type", contentType).Str("traceId", traceId).Str("spanId", spanId).Msg("Wrong content type")
          		return (*c).String(http.StatusUnsupportedMediaType, "Wrong content type")
           	}

        {{ else }}
            bodyContent := new(entities.{{- .Schema }})
            if err := middleware.Bind(c, bodyContent); err != nil {
          		log.Error().Err(err).Str("traceId", traceId).Str("spanId", spanId).Msg("Failed to bind bodyContent (type {{- .Schema}}) to reqest at {{.OperationID}}")
          		return (*c).String(http.StatusBadRequest, "Invalid request body")
           	}
           	// TODO improve body validation
           	if err := bodyContent.Validate(); err != nil {
          		return (*c).String(http.StatusUnprocessableEntity, err.Error())
           	}
        {{ end }}

    {{- end }}

    {{ range $name, $type := .PathParams }}
        {{ if eq $type "int32" "int64" "integer" }}
            {{ $name }}, _ := strconv.Atoi((*c).Param("{{ $name }}"))
        {{ else if eq $type "float" "double" "number" }}
            {{ $name }}, _ := strconv.ParseFloat((*c).Param("{{ $name }}"))
        {{ else if eq $type "bool" }}
            {{ $name }}, _ := strconv.ParseBool((*c).Param("{{ $name }}"))
        {{ else}}
            {{ $name }} := (*c).Param("{{ $name }}")
        {{ end }}
    {{- end }}

    {{ range $name, $type := .QueryParams }}
        {{ if eq $type "int32" "int64" "integer" }}
            {{ $name }}, _ := strconv.Atoi((*c).QueryParam("{{ $name }}"))
        {{ else if eq $type "float" "double" "number" }}
            {{ $name }}, _ := strconv.ParseFloat((*c).QueryParam("{{ $name }}"))
        {{ else if eq $type "bool" }}
            {{ $name }}, _ := strconv.ParseBool((*c).QueryParam("{{ $name }}"))
        {{ else }}
            {{ $name }} := (*c).QueryParam("{{ $name }}")
        {{ end }}
    {{- end }}

    log.Debug().
    {{- range $name, $type := .PathParams }}
        Any("{{ $name }}", {{ $name }}).
    {{- end }}
    {{- range $name, $type := .QueryParams }}
        Any("{{ $name }}", {{ $name }}).
    {{- end }}
        Msg("Received request for {{ .OperationID }}, running business logic")

    /*
     * Business Logic
     {{- if ne .Schema "" }}
     * bodyContent: contains parsed request body
     {{- end }}
     */


      {{ range .Responses }}
    // {{ .StatusCode }} => {{ .Description }}
    {{- end }}
    {{- if and (eq .Method "GET") .IsFormHandler }}
    return pages.{{ .FormComponentName }}Form().Render((*c).Request().Context(), (*c).Response())
    {{- else }}
	return (*c).String(http.StatusNotImplemented, "Temporary handler stub.")
    {{- end }}
}